<header>
    <div><a id="title" href="/">anonly</a></div>
    <div class="headitems">
        <div><a id="hitem" href="/">About</a></div>
        <div><a id="hitem" href="/">Learn</a></div>
    </div>
</header>